@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --background: #ffffff;
    --accent: #50c060;
    --bg-light: #f3f4f6;
  }

  .dark {
    --background: #1a202c;
    --accent: #50c060;
    --bg-light: #2d3748;
  }
}

html {
  /* @apply bg-white  dark:bg-black; */
}

body {
  @apply bg-white  dark:bg-black;
}

p {
  @apply dark:text-white text-blackT;
}

.dark input:-webkit-autofill {
  box-shadow: 0 0 0 1000px rgb(26 32 44) inset !important;
  -webkit-text-fill-color: white !important; /* Adjust to your desired text color */
  @apply focus-visible:!ring-greenT;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px rgb(229 231 235) inset !important;
  -webkit-text-fill-color: black !important; /* Adjust to your desired text color */
  @apply focus-visible:!ring-greenT;
}
